html, * {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://images5.alphacoders.com/906/906112.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

#content {
    margin: 10%;
    width: 80%
    background-color: #ffea4d;
    text-align: left;
    -moz-box-shadow: 0, 0 8px #666;
    -webkit-box-shadow: 0, 0 8px #666;
    box-shadow: 0, 0 8px #666;
    background-color: #ffea4d;
}

#text {
    padding: 40px;
}
